<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.monitor"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.app.monitor.core.CoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@drawable/home"
        android:supportsRtl="true"
        android:theme="@style/Theme.Monitor">

        <activity
            android:name="com.app.monitor.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <activity
            android:name="com.app.monitor.DetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Monitor.NoActionBar" />

        <service
            android:name="com.app.monitor.service.ReadCentrifuga"
            android:enabled="true" />

        <service
            android:name="com.app.monitor.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.app.monitor.service.CJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.app.monitor.service.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.app.monitor.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Monitor.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>